* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --text-color-transparent: rgba(255, 255, 255, 0.1);
  --br-url: url(media/bg-mobile.jpg);
  --switch-bg-url: url(media/moon-star.svg);
}

.switch {
  border: 1px solid red;
  position: relative;
}

.switch button {
  height: 32px;
  width: 32px;
  border: 0;
  border-radius: 50%;
  background: white var(--switch-bg-url) no-repeat;

  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--text-color-transparent);
  border: var(--text-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}

.light {
  --text-color: rgb(0, 0, 0);
  --text-color-transparent: rgba(0, 0, 0, 0.1);
  --bg-url: url(media/bg-mobile-light.jpg);
  --switch-br-utl: url(media/sun.svg);
}

html {
  background: var(--bg-url) no-repeat top center/cover;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
body * {
  font-family: "Inter", serif;
  color: var(--text-color);
  padding: 0 25;
}
div.container {
  width: 360px;
  margin-right: auto;
  margin: auto;
  padding-top: 56px;
}
div.profile {
  text-align: center;
  padding: 25px;
}
div.profile img {
  border-radius: 100%;
  border-style: solid;
  border-color: aquamarine;
  width: 112px;
}
.profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
  padding-bottom: 10px;
}

/* links */

ul {
  margin-top: 20px;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li {
  height: 56px;
  border: solid var(--text-color-transparent) 2px;
  border-radius: 8px;
  padding-top: 14px;
  backdrop-filter: blur(4px);
  font-weight: 500;
  transition: all 0.2s;
}

ul li:hover {
  height: 56px;
  border: solid var(--text-color) 2px;
}

a {
  text-decoration: none;
  background-color: var(--text-color-transparent);
  border-radius: 8px;
  transition: background 0.2s;
}

a:hover {
  background-color: var(--text-color-transparent);
}

div.sociallinks {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
  gap: 5px;
}

div.sociallinks a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
}

div.sociallinks a:hover {
  background-color: var(--text-color-transparent);
  border-radius: 50%;
  padding: 16px;
}
footer {
  padding: 24px 0;
}
